{{ block title }}
Estudio de candidatos
{{ endblock }}

{{ block content }}

<p>
    En este estudio verá pares de fotografías de candidatos.
</p>

<p>
    En cada pantalla, le pediremos responder la siguiente pregunta:
</p>

<p style="font-size: 20px;">
    <strong>¿Por quién votaría usted?</strong>
</p>

<p>
    Algunas personas podrán ver información adicional sobre los candidatos antes de responder.
    Otras personas deberán realizar una breve tarea antes de poder ver esa información.
</p>

<p>
    No hay respuestas correctas o incorrectas. Nos interesa conocer sus decisiones.
</p>

{{ next_button }}

{{ endblock }}